<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans       
	                       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!--  
	<bean id="parentDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="initialSize" value="1" />
		<property name="maxActive" value="160" />
		<property name="maxIdle" value="30" />
		<property name="minIdle" value="5" />
		<property name="maxWait" value="30000" />
	</bean>
	
	<bean id="tradermainDataSource" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/trader_main?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="username" value="test" />
		<property name="password" value="123456" />
	</bean>
	
	<bean id="traderadminDataSource" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost/trader_admin?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="username" value="test" />
		<property name="password" value="123456" />
	</bean>
-->
</beans>